/Exercises/vscode/W06/data/test_subjects/test_subject_Jacob
/Exercises/vscode/W06/data/gaze
/Exercises/vscode/W06/data/output
/Exercises/vscode/W06/data/test_subjects/test_subject_0
/Exercises/vscode/W06/data/test_subjects/test_subject_3